 .Heading{
    font-family:monospace;
    text-align: center;
    font-size: 40px;
    font-weight: 10;
}
.ResumeTitle{
    font-family: Trebuchet;
    margin: 0px;
    font-weight: 10;
    text-align: center;
}
.ContactInfo{
    font-size: 23px;
    font-weight: 10; 
     
}
a:link{
    color: crimson;
}
a:visited{
    color: rgb(0, 209, 80); 
}
a:hover{
    color: blue;
}
h4{
    font-weight: 10;
    font-size: large;
    margin-right: 0;
}
.About{
    font-weight: 10;
    text-align: center;
}


