 .Heading{
    font-family:monospace;
    text-align: left;
    font-size: 40px;
}
.ResumeTitle{
    font-family: Trebuchet;
    margin: 0px;
    font-weight: 900;
}
.ContactInfo{
    font-size: 23px;
    font-weight: 100;  
}
a:link{
    color: crimson;
}
a:visited{
    color: rgb(0, 209, 80); 
}
a:hover{
    color: blue;
}


